fieldset{
	position: relative;
}
.score{
	position: absolute;
	left: 90%;
	top: 40px;
	text-align: center;
	font-size: 60px;
	width: 50px;
	background-color: gray;
}
.totalscore{
	position: relative;
	left: 30%;
	text-align: center;
	font-size: 60px;
	width: 500px;
	background-color: blue;
}
